// Déclaration Var.
$default-value: 20px;

// Mixin pour centrer les éléments
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*General style*/
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3581cd;
}

.main-container {
  @include center; // Appel du mixin
}

main {
  margin-top: 15%;
}

h1 {
  font-size: $default-value;
  text-transform: uppercase;
  text-align: center;
  margin: $default-value;
}

/*Weather Infos*/
.city {
  &__name {
    margin-bottom: $default-value;
  }

  &__meteo {
    &--temp,
    &--humidity {
      color: #ffffff;
      font-weight: bold;
    }
  }
}
