// Raccourcis
$ohmyfood: "Shrikhand";
$bg-color: #ededed;
$color: #9356dc;
$itemborder-radius: 15px 15px;
$btnborder-radius: 20px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  height: 2.5em;
  width: 12em;
  border-radius: $btnborder-radius;
  background: linear-gradient(#ff79da, $color);
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9em;
  }
}

/* Loader */

body {
  position: relative;
}

@keyframes load {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #ff79da;
  animation: load 1s linear forwards, fadeOut 1s 0.9s forwards;
  z-index: 1000;
}

.main-container {
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* General */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0 1.5em;
}

/* Header */
.header {
  text-align: center;

  a {
    color: unset;
    text-decoration: none;
    font-family: $ohmyfood;
    font-size: 2em;
    font-weight: 800;
  }
}

.location-icon {
  padding-left: 3em;
}

.search {
  background-color: $bg-color;
  box-shadow: 0px 0px 8px 2px #707070;
  margin-bottom: 4px;
}

.searchcity__items {
  @include center;
  height: 2.5em;

  &--input {
    border: none;
    background-color: $bg-color;
    text-indent: 1em;
    outline: none;
  }

  &--input::placeholder {
    color: #0d0d0d;
    font-weight: bold;
  }
}

/*Book*/
.explore {
  background-color: $bg-color;
}

.exploreresto {
  text-align: center;
  @include center;
  flex-direction: column;
}

.exploreresto__text {
  h1 {
    @include center;
    display: block;
    padding: 0 1.5em;
  }
}

.cta__button {
  @include center;
  @include btn;
  margin-bottom: 2em;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}

.cta__button:hover {
  background: linear-gradient(#fd8ede, #9c66de);
  box-shadow: 0px 0px 10px 5px #e3d3e9;
}

/*Fonctionnement*/
.functiontools__content {
  &--item {
    display: flex;
    align-items: center;
    min-width: 300px;
    height: 3em;
    margin: 1em 0.6em;
    border-radius: $itemborder-radius;
    background-color: $bg-color;
    box-shadow: 0px 3px 7px 2px #d2d2d2;

    .item1 {
      @include center;
      width: 20px;
      height: 20px;
      font-size: small;
      background-color: $color;
      border-radius: 50%;
      color: #ffffff;
      margin-right: 5px;
      position: absolute;
      left: 25px;
    }

    .item2 {
      width: 10px;
      margin: 0 1.7em;
      color: #6b6b6b;
    }

    .item2:hover {
      color: $color;
    }
  }
}

/*Cards*/
.restaurants {
  background-color: $bg-color;
  padding-top: 0.5em;
}

.card .carditem__txt {
  margin-top: -3px;
}

.carditem {
  padding-bottom: 1.5em;

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 10em;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }

  article {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    color: green;
    font-weight: bold;
    background-color: lightgreen;
  }

  &__txt {
    display: flex;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
    align-items: center;

    .carditem__txt--content {
      margin-left: 1em;
    }

    h3 {
      margin: 0;
      padding-top: 1em;
    }

    p {
      margin-top: 0;
    }
  }
}

.card {
  position: relative;

  &__heartbtn i {
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 55px;
    font-size: 1.2em;
  }
}

.hidden-checkbox,
.hidden-checkbox2,
.hidden-checkbox3,
.hidden-checkbox4 {
  display: none;
}

.colored {
  display: none;
}

.hidden-checkbox:checked + .card__heartbtn--label .empty,
.hidden-checkbox2:checked + .card__heartbtn--label2 .empty,
.hidden-checkbox3:checked + .card__heartbtn--label3 .empty,
.hidden-checkbox4:checked + .card__heartbtn--label4 .empty {
  display: none;
}

.hidden-checkbox:checked + .card__heartbtn--label .colored,
.hidden-checkbox2:checked + .card__heartbtn--label2 .colored,
.hidden-checkbox3:checked + .card__heartbtn--label3 .colored,
.hidden-checkbox4:checked + .card__heartbtn--label4 .colored {
  display: inline;
  color: transparent;
}

.colored::before {
  position: absolute;
  top: -20px;
  left: -20px;
  background: linear-gradient(#9c66de, #fd8ede);
  -webkit-background-clip: text;
  background-clip: text;
}

/*footer*/
.footer {
  background-color: #282727;
}

.footermenu {
  padding: 0.5em 0;

  .footermenu__title {
    padding: 10px 0;
  }

  .footermenu__title a {
    color: #ffffff;
    text-decoration: none;
    font-family: $ohmyfood;
    font-size: 1.5em;
    font-weight: 600;
  }
}

.footermenu__item {
  display: block;
  padding: 0.5em 0;

  * {
    padding-bottom: 5px;
  }

  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }

  &--link {
    display: flex;
    grid-template-columns: 1fr 1fr;
  }

  i {
    color: #ffffff;
    padding-right: 0.5em;
  }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 1024px) {
  section {
    margin: 0 10%;
  }

  .functiontools__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  .functiontools__content--item .item1 {
    position: relative;
    left: -10px;
  }

  .restaurantscards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footermenu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: right;
  }

  .footermenu__item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 0;

    &--link {
      display: flex;
      align-items: center;
    }
  }

  .footermenu__title {
    order: 1;
    position: relative;
    right: -150px;
  }
}
